<ion-view title="Become a Center" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <!-- Header img -->
        <div class="">
            <img src="img/atc.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <!-- End Header img -->
        <ion-list id="becomeACenter-list6" class=" ">
            <ion-item class="item-icon-left calm  item-text-wrap" id="becomeACenter-list-item27">
                <i class="icon ion-checkmark"></i>Application Stage 1 - Prospective centet (customer) requests for Application forms from Computer Society of Zimbabwe (CSZ) either physically, by phone (04) 250489 or email to <a href="mailto:info@csz.org.zw?Subject=Application%20for%20ICDL%20Center%20Accreditation">info@csz.org.zw</a></ion-item>
            <ion-item class="item-icon-left calm  item-text-wrap" id="becomeACenter-list-item29">
                <i class="icon ion-checkmark"></i>Application Stage 2 - The customer fills in forms and returns them together with the required documentation and application fees.</ion-item>
            <ion-item class="item-icon-left calm  item-text-wrap" id="becomeACenter-list-item33">
                <i class="icon ion-checkmark"></i>Review Stage - CSZ then contacts customer to arrange an on-site inspection of premises/hardware after which CSZ will accept/decline/advise on amendments. Status will be advised within 3 working days</ion-item>
            <ion-item class="item-icon-left calm  item-text-wrap" id="becomeACenter-list-item34">
                <i class="icon ion-checkmark"></i>Accreditation Stage - If application is successful, the customer will be formally advised and a start-up pack should be purchased by the customer.</ion-item>
            <ion-item class="item-icon-left calm  item-text-wrap" id="becomeACenter-list-item35">
                <i class="icon ion-checkmark"></i>Implementation Stage - Customer can start training and testing.</ion-item>
        </ion-list>

        <br>

        <p id="becomeACenter-markdown6" style="color:#000000;" class=" ">To receive a copy of our application form and accreditation please click the button below:</p>

        <br>
        
        <a href="mailto:info@csz.org.zw?Subject=Application%20for%20ICDL%20Center%20Accreditation" id="becomeACenter-button1" class=" button button-calm  button-block ">Apply Now!</a>
    </ion-content>
</ion-view>